@use "../../colors" as c;

.title {
	text-align: center;
	color: c.$tertiary;
	margin-top: 30px;
}

.content {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-bottom: 30px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	width: 80vw;
	justify-content: center;
}
