@use "../../colors" as c;

.card {
	background-color: c.$secondary;
	border-radius: 10px;
	color: white;
	width: 200px;
	height: 320px;
	.content {
		height: 280px;
		display: flex;
		align-items: center;
		flex-direction: column;
		.img {
			height: 180px;
			width: 130px;
			object-fit: cover;
			border-radius: 10px;
			object-position: center;
			margin: 0.7em 0 0.3em 0;
		}
		.text_box {
			width: 180px;
			.text {
				margin: 0;
				padding: 0;
			}
			.platforms {
				font-size: smaller;
				color: c.$primary;
				margin: 0;
				padding: 0;
			}
		}
	}
	.price_container {
		height: 30px;
		width: 100%;
		align-self: flex-end;
		margin: 5px 0 5px 0;
		.price {
			font-size: 1.5em;
			margin: 0 0 0 10px;
			padding: 0;
		}
	}
}
